////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {

    @include display-flex();

    align-items: center;
    background: linear-gradient( 90deg, color(ns-main) 0%, color(ns-tertiary) 100% );
    justify-content: space-between;
    padding: rem(5) rem(15) 0 rem(5);
    width: 100%;

    @include media-query(sm) {

        padding: rem(11) rem(15) rem(10) rem(4);

        &__picture {
            display: none;
        }

        &__picture--hidden {
            @include order(2);
            display: block;
            padding-left: rem(12);
            width: rem(128);
        }

    }

    @include media-query(lg) {
        &__picture--hidden {
            @include order(1);
        }
    }

    @include media-query(xl) {
        padding-bottom: 0
    }

    &__menu-content {
        @include display-flex();
    }
   
    &__picture{

        @include order(2);

        width: rem(44);

        &--hidden  {
            display: none ;
        }

    }
}