////
/// SUBMENU component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}submenu
/// @since version 1.0.0
////
.#{$ns}submenu {

    @include display-flex();
    @include order(4);
    
    gap: rem(4);
    justify-content: center;
    justify-content: end;
    
    &__profile-content {
        width: rem(38);
    }

    &__btn {
        color: color(white);
        cursor: pointer;
        font-size: rem(20);

        &--special-icon {
            font-size: rem(23);
            padding: rem(6) rem(11) 0 0;
        }
    }
}