////
/// NAV component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}nav
/// @since version 1.0.0
////
.#{$ns}nav-menu {
    
    @include order(1);

    @include media-query(sm) {
        display: block;

        &__mobile-menu {
            display: none;
        }

        &__list {
            display: block;
        }
    }

    font-size: rem(25);
    padding: rem(12);
    text-align: center;

    &__list {
        display: none;
    }

    &__sk-submenu__btn {
        
    }

    &__icon {
        color: color(white);
    }

}