////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {

    align-items: center;
    background: linear-gradient( 90deg, color(ns-main) 0%, color(ns-tertiary) 100% );
    display: flex;
    justify-content: space-between;
    padding: rem(5) rem(15) 0 rem(5);
    width: 100%;
   
    &__picture{

        @include order(2);

        width: rem(44);

        &--hidden  {
             display: none ;
        }

    }
}