////
///  PROJECT component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}projects-card
/// @since version 1.0.0
////

.#{$ns}projects-card {


    @include head_card(20, 0, 15, 24);
    @include menu-card;

    @include media-query(sm) {
        margin-top: rem(135);
        order: 4;
        padding-left: rem(8);
        width: 49%;
        height: rem(5);
    }

    @include media-query(lg) {
        width: 31%;
        height: auto;
    }

    margin-top: rem(11);

    &__content {
        background: color(white);
        padding: rem(0) rem(21) 0 rem(25);
      
    }

    &__course {
        padding: rem(22) 0;
        padding-left: rem(5);
    }

    &__tertiary-degree {
        color: color(ns-primary);
        font-size: rem(16);
        padding-bottom: rem(8);
    }

    &__text {
        color: color(default-dark);
        padding-bottom: rem(9);
    }

   

    &__foot {
        @include footer-card;
    }

    &__more-info {
        color: color(ns-primary);
    }
}

