////
///  MAIL component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}mail-card
/// @since version 1.0.0
////

.#{$ns}mail-card {


    @include head_card(20, 0, 15, 24);
    
    @include media-query(sm) {
        height: rem(405);
        margin: 0;
        order: 2;
        padding-left: rem(6);
        width: 49%;
    }
    
    @include media-query(lg) {
        height: rem(408);
        order: 2;
        width: 31.2%;

        &__message {
          padding: rem(2) 0;
        }
    }

    @include media-query(xl) {
        width: 45%;

        &__content {
            padding-bottom: rem(22);
        }

        &__message {
            padding:  rem(6) 0;
        }
    }

    margin-top: rem(17);

    
    &__content {
        background: color(white);
        padding: rem(17) rem(30) 0 rem(24);
    }

    &__message {
        border-bottom: 1px solid color(default-lighter);
        padding-bottom: rem(6)

    }

    &__message {
        &--small-padding {
            padding-bottom: rem(1);
        }
    }

    &__info {
        padding-bottom: rem(8)
    }

    &__profile {
        @include display-flex();
        align-items: center;
        gap: rem(10);
    }

    &__picture {
        width: rem(20);
    }

    &__tertiary-degree {
        color: color(ns-primary);
        font-size: rem(15);
        padding: rem(5) 0 0 rem(3);
        text-decoration: underline;
    }

    &__event {
        @include display-flex();
        padding: rem(15) 0;
    }

    &__text {
        font-size: rem(12);
    }

    &__foot {
        @include footer-card;
    }

    &__more-info {
        color: color(ns-primary);

    }
}


