////
///  PROJECT component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}projects-card
/// @since version 1.0.0
////

.#{$ns}projects-card {

    margin-top: rem(12);

    @include head_card(20, 0, 16, 24);

    &__menu {
        @include display-flex();
        width: 100%;
        background: color(default);
        font-size: rem(14);
        padding: rem(12) 0;
    }

    &__content {
        background: color(white);
        padding: rem(22) rem(21) 0;
      
    }

    &__course {
        padding-left: rem(5);
    }

    &__tertiary-degree {
        font-size: rem(16);
        padding-bottom: rem(8);
    }

    &__text {
        padding-bottom: rem(12);
    }

    &__list {
        @include display-flex();
        width: 100%;
       
    }

    &__list {
       
        &--special {
            font-size: rem(15);
        }
       
    }

    &__item {
        flex: 1;
    }

    &__item {
        
        &--circle {
            border-radius: rem(50);
            background: color(bubble);
        }

    }

    &__item {
        
        &--small {
            flex: none;
        }

    }

    &__link {
        
        color: color(ns-primary);
        padding: rem(10) rem(13) rem(10) rem(18);
        
        &:hover {
            text-decoration: none;
            font-weight: bold;    
            border-bottom: rem(2) solid color(ns-primary);       
        }
    }

    &__foot {
        @include footer-card;
    }

    &__more-info {
        color: color(ns-primary);
    }
}