////
///  CONTACT component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}contact-card
/// @since version 1.0.0
////

.#{$ns}contact-card {

    margin-top: rem(17);

    @include head_card(20, 0, 7, 24);
    
    @include menu-card;

    @include media-query(sm) {
        height: rem(406);
        margin: rem(222) 0;
        order: 5;
        width: 48%;
    }

    @include media-query(lg) {
        height: rem(408);
        margin: 0;
        order: 3;
        padding-left: rem(10);
        width: 31.5%;
    }

    @include media-query(xl) {
        width: 28%;
    }

    &__content {
        background: color(white);
        border-radius: 0 0 rem(7) rem(8);
        height: rem(405);
        overflow-y: scroll;
        padding: rem(0) rem(11) 0 rem(25);
    }

    &__contact-info {
        @include display-flex();
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
        padding-top: rem(8);
    }

    &__profile-content {
        padding-bottom: rem(9);
        width: rem(40);
    }


    &__profile {
        flex: .96;
        padding-left: rem(8);
    }

    &__profile {

        &--space {
            line-height: rem(26);
        }

    }

    &__name {
        color: color(ns-primary);
        font-size: rem(14);
        font-weight: bold;
        padding: rem(12) 0 rem(25) 0;
        text-decoration: underline;
    }

    &__name {
       
        &--small-padding {
            padding-bottom: 0;
        }
    
    }

    &__icon {
        align-self: flex-start;
    }

    &__icon {
        &--black {
            color: color(black);
            padding-top: rem(11);
        }
    }
}

