////
///  EVENT component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}event-card
/// @since version 1.0.0
////

.#{$ns}event-card {

    @include head_card(20, 0, 14, 24);

    @include media-query(sm) {
        margin: 0;
        order: 1;
        width: 48%;
    }

    @include media-query(lg) {
        order: 1;
        width: 31%;
    }

    @include media-query(xl) {
        order: 1;
        width: 23.5%;
    }

    &__content {
    background: color(white);
        padding: rem(26) rem(30) rem(9) rem(24);

    }

    &__day {
        color: color(ns-primary);
        font-size: rem(13);
        text-transform: uppercase;
    }

    &__tertiary-degree {
        color: color(ns-primary);
        font-size: rem(16);
        text-decoration: underline
    }

    &__event {
        @include display-flex();
        padding: rem(15) 0;
        
      
    }

    &__circle {
        @include display-flex();
        align-items: center;
        background: color(ns-primary);
        border-radius: rem(150);
        height: rem(48);
        justify-content: center;
        width: rem(48);
    }

    &__list {
        line-height: rem(1);
    }

    &__item {
        padding: rem(10) 0 0 rem(12);
    }

    &__text {
        color: color(black);
        font-size: rem(12);
    }

    &__tertiary-degree {
        font-size: rem(14);
        line-height: rem(17);
    }

    &__hour {
        color: color(white);
        font-size: rem(12)
    }

    &__foot {
        @include footer-card;
    }

    &__more-info {
        color: color(ns-primary);

    }
}

