////
///  NOTIFICATIONS component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}notification-card
/// @since version 1.0.0
////

.#{$ns}notification-card {

    @include head_card(20, 0, 18, 24);

    @include media-query(sm) {
        margin: rem(12) 0 0 0;
        order: 3;
        width: 48%;
    }

    @include media-query(lg) {
        height: auto;
        margin: 0;
        order: 4;
        width: 31%;
    }

    @include media-query(xl) {
        width: 23.5%;
    }

    margin-top: rem(14);

    &__icon {
        &--small {
            color: color(warning);
            font-size: 10px;
        }
    }

    &__content {
        background: white;
        font-size: rem(15);
        padding: 0 rem(24);
    }

    &__update {
        border-bottom: 1px solid color(default-lighter);
        line-height: rem(22);
        padding-bottom: rem(13);
    }

    &__update {
       &--remove-border {
           border-bottom: none;
       }
    }

    &__text {
        color: color(black);
        font-size: rem(14);
    }

    &__text {
        &--small {
            font-size: rem(12);
        }
    }

    &__alert {
        @include display-flex();
        align-items: center;
        padding-bottom: rem(10px);
    }

    &__circle {
        background: color(warning-light);
        background-color: black;
        border-radius: rem(150);
        height: rem(12);
        margin-top: rem(2);
        width: rem(12);
    }

    &__check {
        @include display-flex();
        align-items: center;
        padding-top: rem(13);
    }

    &__label-title {
        color: color(black);
        flex-basis: 70%;
        font-weight: bold;
      
    }

    &__data-entry {
        align-self: baseline;
        flex: 1;
        height: rem(18);
        margin-left: rem(54);
      
    }

    &__foot {
        @include footer-card;
    }

    &__more-info {
        color: color(ns-primary);

    }
}
