////
/// MAIN component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}main
/// @since version 1.0.0
////

.#{$ns}main {

    @include display-flex();
    @include flex-direction(column);
   
    @include media-query(sm) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        gap: rem(9);
        justify-content: space-between;
    }

    @include media-query(lg) {
        justify-content: normal;
    }

     
    background: #E9FDFB;
    padding: rem(32) rem(15);
}



