////
/// MAIN component
///
/// Description of the component
///
/// @access public
/// @author Ivan Ginja Martinez
/// @group components of repository
/// @name .#{$wf__ns}main
/// @since version 1.0.0
////

.#{$ns}main {

    @include display-flex();
    @include flex-direction(column);
   
    @include media-query(sm) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        gap: rem(9);
        justify-content: space-between;
    }

    @include media-query(lg) {
        gap: rem(16);
        justify-content: normal;
        padding: rem(48) rem(20) 0 rem(22);
    }

    @include media-query(xl) {
        gap: 17px;
        padding: 45px 22px 0px;
    }

    background-image: url(../../../../assets/images/MicrosoftTeams-image.png), linear-gradient(0deg, hsl(180, 30%, 83%), hsl(220, 15%, 96%));
    background-repeat: no-repeat;
    background-size: contain;
    padding: rem(32) rem(15);
}
