<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <script src="https://kit.fontawesome.com/e8efdb4c02.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/front-modules.css" />
  <script type="text/javascript" src="../libs/dependencies.js"></script>
  <script type="module" src="../js/front-dev.js"></script>
  <title>Index | Front Seed</title>
</head>

<body>
  <header class="sk-header">
    <!-- DESKOPT LOGO -->
    <div class="sk-header__picture-desktop">
      <a href="" class="sk-header__link">
        <figure class="sk-header__content">
          <img class="sk-header__logo" src="../../assets/images/DeskoptLogo.png" alt="Logo everis" />
        </figure>
      </a>
    </div>

    <!-- MENU DESKOPT -->
    <nav class="sk-nav-menu">
      <div class="sk-nav-menu__search">
        <form action="sk-nav-menu__search-content">
          <div class="sk-nav-menu__input-content">
            <input class="sk-nav-menu__data-entry" type="search" />
          </div>
          <input class="sk-nav-menu__send-data" type="submit" value="lupa" />
        </form>
      </div>
      <ul class="sk-nav-menu__list" role="menu">
        <li class="sk-nav-menu__item">
          <i class="sk-nav-menu__icon"></i>
          <a href="" class="sk-nav-menu__link">Inicio</a>
        </li>
        <li class="sk-nav-menu__item">
          <i class="sk-nav-menu__icon"></i>
          <a href="" class="sk-nav-menu__link">Aplicaciones</a>
        </li>
        <li class="sk-nav-menu__item">
          <i class="sk-nav-menu__icon"></i>
          <a href="" class="sk-nav-menu__link">Comunidades</a>
        </li>
        <li class="sk-nav-menu__item">
          <i class="sk-nav-menu__icon"></i>
          <a href="" class="sk-nav-menu__link">everPedia</a>
        </li>
      </ul>
    </nav>

    <!-- MOBILE MENU -->
      <nav class="sk-nav-mobile">
        <button class="sk-nav-mobile__btn-bars">
          <i class="sk-nav-mobile__bars fa fa-bars"></i>
        </button>
      <!-- MOBILE LOGO -->
      <figure class="sk-header__picture-mobile">
        <a href="" class="sk-header__link">
            <img class="sk-header__logo" src="../../assets/images/MobileLogo.png" alt="Logo everis" />
        </a>
      </figure>
      </nav>
  

    <!-- SUB MENU -->
    <div class="sk-header__sub-menu" role="menu">
      <input class="sk-header__send-data" type="submit" value="lupa" />
      <i class="sk-header__notify">Notify</i>
      <div class="sk-header__user">
        <figure class="sk-header__user-content">
          <img src="../../assets/images/profile.png" alt="" />
        </figure>
      </div>
      <i class="sk-header__icon fa-solid fa-alicorn"></i>
    </div>
  </header>

  <main class="sk-main">
    <div class="sk-main__primary-content sk-primary-conten">
      <section class="sk-primary-conten__cards" aria-label="Eventos">
        <header class="sk-primary-conten__head-card">
          <div class="sk-primary-conten__title">
            <i class="sk-primary-conten__icon fa-regular fa-calendar-days"></i>
            <p class="sk-primary-conten__text">Eventos</p>
          </div>
          <button class="sk-primary-conten__options">
            <i class="sk-primary-conten__icon"></i>
          </button>
        </header>
        <div class="sk-primary-conten__card-content"></div>
        <footer class="sk-primary-conten__foot-card"></footer>
      </section>
      <section class="sk-primary-conten__cards" aria-label="Notificaciones">
        <header class="sk-primary-conten__head-card">
          <div class="sk-primary-conten__title">
            <i class="sk-primary-conten__icon"></i>
            <p class="sk-primary-conten__text"></p>
          </div>
          <button class="sk-primary-conten__options">
            <i class="sk-primary-conten__icon"></i>
          </button>
        </header>
        <div class="sk-primary-conten__card-content"></div>
        <footer class="sk-primary-conten__foot-card"></footer>
      </section>
      <section class="sk-primary-conten__cards" aria-label="Mails">
        <header class="sk-primary-conten__head-card">
          <div class="sk-primary-conten__title">
            <i class="sk-primary-conten__icon"></i>
            <p class="sk-primary-conten__text"></p>
          </div>
          <button class="sk-primary-conten__options">
            <i class="sk-primary-conten__icon"></i>
          </button>
        </header>
        <div class="sk-primary-conten__card-content"></div>
        <footer class="sk-primary-conten__foot-card"></footer>
      </section>
      <section class="sk-primary-conten__cards" aria-label="Proyectos">
        <header class="sk-primary-conten__head-card">
          <div class="sk-primary-conten__title">
            <i class="sk-primary-conten__icon"></i>
            <p class="sk-primary-conten__text"></p>
          </div>
          <button class="sk-primary-conten__options">
            <i class="sk-primary-conten__icon"></i>
          </button>
        </header>
        <div class="sk-primary-conten__card-content"></div>
        <footer class="sk-primary-conten__foot-card"></footer>
      </section>
      <section class="sk-primary-conten__cards" aria-label="Mis contactos">
        <header class="sk-primary-conten__head-card">
          <div class="sk-primary-conten__title">
            <i class="sk-primary-conten__icon"></i>
            <p class="sk-primary-conten__text"></p>
          </div>
          <button class="sk-primary-conten__options">
            <i class="sk-primary-conten__icon"></i>
          </button>
        </header>
        <div class="sk-primary-conten__card-content"></div>
        <footer class="sk-primary-conten__foot-card"></footer>
      </section>
    </div>
  </main>
</body>

</html>